<% layout('/layouts/boilerplate.ejs') %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Create a new listing</h2>
                <form action="/listings" method="post" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input required type="text" name="listing[title]" placeholder="Add catchy Title"
                            class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea required type="text" name="listing[description]" class="form-control"></textarea>
                        <div class="invalid-feedback">
                            Please enter short description about your listing.
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="listing[image][url]" placeholder="enter image URL/Link"
                            class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input required type="number" name="listing[price]" placeholder="1200" class="form-control">
                            <div class="invalid-feedback">
                                Price should be valid!
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input required type="text" name="listing[country]" placeholder="India"
                                class="form-control">
                            <div class="invalid-feedback">
                                Country should be valid!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input required type="text" name="listing[location]" placeholder="Jaypur, Rajastan"
                            class="form-control">
                        <div class="invalid-feedback">
                            Location should be valid!
                        </div>
                    </div>
                    <button class="btn btn-dark add-btn">Add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>